@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Todos os direitos reservados aos autores das obras nas quais estão presentes 
    neste site para avaliação</p>
